<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_345_Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <_345_Launcher.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Remember" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="minimize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ram" serializeAs="String">
                <value>1512</value>
            </setting>
            <setting name="mram" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="rpc" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="JVM" serializeAs="String">
                <value />
            </setting>
            <setting name="fs" serializeAs="String">
                <value>False</value>
            </setting>
        </_345_Launcher.Properties.Settings>
    </userSettings>
</configuration>